:root {
    --brand-color: var(--ghost-accent-color, #6c49b6);
    --primary-text-color: hsla(214,70%,4%,0.82);
    --secondary-text-color: hsla(0,0%,2%,0.65);
    --white-color: #fff;
    --off-white-color: #f8f8f8;
    --lighter-gray-color: hsla(0,0%,12%,0.04);
    --light-gray-color: hsla(0,0%,2%,0.1);
    --mid-gray-color: hsla(0,0%,0%,0.2);
    --dark-gray-color: hsla(0,0%,1%,0.74);
    --darker-gray-color: hsla(204,71%,1%,0.92);
    --black-color: #121212;
    --green-color: #28a745;
    --orange-color: #ffc107;
    --red-color: #dc3545;
    --facebook-color: #3b5998;
    --twitter-color: #1da1f2;
    --rss-color: #f26522;
    --animation-base: ease-in-out;
    --background-color: #fff;
    --background-overlay: rgb(255 255 255 / 70%);
    --hero-background-color: var(--lighter-gray-color);
    --divider-color: rgb(0 0 0 / 3%);
    --muted-background-color: rgb(250 250 250 / 40%);
    /* --font-base: sans-serif; */
    --font-base: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, Inter, sans-serif;
    --font-serif: 'Libre Baskerville', serif;
    --navbar-height: 88px;
    --form-input-height: 50px;
    --form-border-radius-rounded: 40px;
    --border-separator: 2px solid var(--primary-text-color);
    --border-radius: 10px;
    --base-text-size: 2rem;
}

:root.has-light-text {
    --primary-text-color: rgb(255 255 255 / 95%);
    --secondary-text-color: rgb(255 255 255 / 60%);
    --lighter-gray-color: rgb(255 255 255 / 5%);
    --light-gray-color: rgb(255 255 255 / 8%);
    --mid-gray-color: rgb(255 255 255 / 18%);
    --dark-gray-color: rgb(255 255 255 / 70%);
    --darker-gray-color: var(--primary-text-color);
    --divider-color: rgb(255 255 255 / 3%);
    --background-overlay: rgba(32, 32, 32, 70%);
    --off-white-color: #262626
}

@media (max-width: 767px) {
    :root {
        --navbar-height: 70px;
    }
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    font-family: var(--font-base);
    font-size: 1.6rem;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.with-custom-background {
    background-color: var(--background-color);
}

::selection {
    background: var(--ghost-accent-color);
    color:  var(--white-color);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.1s var(--animation-base);
}

a:hover {
    opacity: 0.8;
    color: var(--brand-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--primary-text-color);
    font-family: var(--font-base);
    line-height: 1.3;
    font-weight: 700;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

blockquote:not([class]) {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border-left: 0;
    color: var(--primary-text-color);
    font-size: calc(var(--base-text-size) + 4px);
    line-height: 1.5;
    letter-spacing: -0.03rem;
    text-align: center;
    font-weight: 700;
}

blockquote:not([class]) strong {
    font-weight: 700;
    color: var(--primary-text-color);
}

ul,
ol {
    padding-left: 2rem;
}

iframe,
embed {
    display: block;
    overflow: hidden;
    width: 100%;
    border: 0;
}

figure {
    margin-right: 0;
    margin-left: 0;
}

figcaption {
    margin-top: 1.5rem;
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
}

figcaption a {
    color: var(--secondary-text-color) !important;
    font-weight: 400 !important;
}

pre {
    overflow-x: scroll;
    padding: 1.6rem 2.2rem;
    font-size: 1.6rem !important;
    line-height: 1.5;
    background-color: var( --lighter-gray-color);
    border-radius: 8px !important;
    -webkit-overflow-scrolling: touch;
}

hr {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-top: 1px solid;
    height: 1px;
}

table:not(.highlight) {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
    word-break: normal;
}

table:not(.highlight) thead {
    background-color: var(--lighter-gray-color);
}

table:not(.highlight) tr + table:not(.highlight) tr {
    border-top: 1px solid var(--light-gray-color);
}

table:not(.highlight) tr:hover td {
    background-color: var(--lighter-gray-color);
}

table:not(.highlight) th,
table:not(.highlight) td {
    padding: 1rem 1.5rem;
    line-height: 1.5;
}

table:not(.highlight) th {
    text-align: left;
}

table:not(.highlight) tfoot {
    border-top: 1px solid var(--mid-gray-color);
}

table:not(.highlight) tfoot td {
    font-weight: 700;
}

@media (max-width: 767px) {
    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        padding: 1.2rem 0;
    }

    .table td {
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 0;
        width: 100%;
        text-align: right;
    }

    .table td::before {
        content: attr(data-label);
        margin-right: 1rem;
        color: var(--secondary-text-color);
        white-space: nowrap;
    }
}
